<!--Page shown if local var isEditing is set to true-->

<div class="parentContainer">
  <div class="titleParent">
    <div class="title">
      <h3>Edit Profile</h3>
    </div>
  </div>
  <div class="editContainer">
<div class="editProfile">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name"/>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username"/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
    <button type="reset" class="btn btn-secondary"(click)="onCancel()">Cancel</button>
  </form>
</div>
<div class="deleteProfile">
  <button class="btn btn-outline-danger" (click)="onDelete()">Delete Account</button>
</div>
</div>
</div>

<!--Page shown if isEditing is set to false-->

<div class="parentContainer">
  <div class="titleParent">
    <div class="title">
      <h3>Profile Information</h3>
    </div>
  </div>
  <div class="Container">
    <div class="Profile">

<!--TODO - delete hardcoded text and make user data appear-->
      <div class="hardCodedJunk">
        <div class="form-group">
          <label>Name:</label>
          <p> Luke Skywalker </p>
        </div>
        <div class="form-group">
          <label>Username:</label>
          <p>DeathStarKilla2</p>
        </div>
        <div class="form-group">
          <label>Email:</label>
          <p>lskywalker@aol.com </p>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <p>...........</p>
        </div>
        <button type="submit" class="btn btn-primary"(click)="onEdit()">Edit Profile</button>
      </div>

    </div>
  </div>
</div>
