.filter {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter label {
  margin-right: 1rem;
}
h3 {
  font-weight: bold;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  padding: 0;
}
