<div>
  <h3>Your Cart</h3>
</div>

<div class="container">
  <div *ngFor="let cartItem of cartItemList">
    <app-cart-item [cartItem]="cartItem"></app-cart-item>
  </div>

  <h4>Cart Summary</h4>
  <label for="coupon">Coupon Code</label>
  <input id="coupon">

  <div>
    <h6>Subtotal: {{cartSubtotal | currency}}</h6>
    <h6>Tax: {{taxCost | currency}}</h6>
    <h6>Shipping: {{shippingCost | currency}}</h6>
    <!--  Coupon Discount:-->
<!--    Sale Discount-->
    <h6>Total: {{cartTotal | currency}}</h6>
  </div>

  <button class="btn btn-primary">Checkout</button>
</div>
