h3 {
  font-weight: bold;
  padding-bottom: 30px;
}

h4 {
  font-weight: bold;
  padding-bottom: 15px;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
  padding: 0;
}

.totals {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 15px;
  width: 100%;
  max-width: 350px;
  background-color: lightseagreen;
}

.calculate {
  padding-top: 15px;
}

.endTotal {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
strong {
  color: #e2ff00;
  font-weight: 500;
}
