<nav>
	<ul>
		<li><a routerLink="/" class="home">All Products</a></li>
		<li *ngIf="currentUser"><a routerLink="/cart" routerLinkActive="active">Your Bag</a></li>
		<li *ngIf="currentUser"><a>Past Orders</a></li>
		<br *ngIf="currentUser && currentUser.status !== 'Customer' then showSK">
		<ng-template #showSK>
			<li><a>Inventory</a></li>
			<li><a>Coupons</a></li>
			<li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
			<li *ngIf="currentUser!.status === 'Admin'"><a routerLink="/users" routerLinkActive="active">Users</a></li>
		</ng-template>
		<li *ngIf="currentUser"><a routerLink="/edit" routerLinkActive="active">Edit Profile</a></li>
	</ul>
</nav>