* {
  /*outline: 1px dotted magenta;*/
  box-sizing: border-box;
}

.form {
  width: 500px;
  padding: 30px;
  background-color: lightseagreen;
}

.row {
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: flex-end;
}


h3 {
  font-weight: bold;
}
strong {
  color: #fffd00;
}
