.titleParent {
  display: flex;
  justify-content: center;
}
.title {
  width: 83.33%;
  padding: 10px;
}
.editContainer {
  display: flex;
  justify-content: space-evenly;

}

.editProfile {
  width: 50%;
}
.deleteProfile {
  width: 25%;
  display: inline;
}
input {
  width: 50%;
}
.form-group {
  padding: 10px;
}
button {
margin: 10px;
}
.Container {
  display: flex;
  justify-content: space-evenly;
}
.Profile {
  width: 83.33%;
}
